// Basic Colors
$navy: #1ab394;
$gray-light: #909090;
$gray: #8b8b8b;
$lazur: #23c6c8;
$yellow: #f8ac59;
$red: #ED5565;
$dark: #6c757d;
$black: #222;
$dark-black: #010101;
$blue2: #C5E2F8;
$blue-light: #E3F1FB;
$blue-dark: #228be6;
$blue-dark2: #2768B0;

// layout
$min-body-width: 70px + 200px + 220px + 600px + 300px;
$min-header-width: 200px + 220px + 600px + 300px;
$main-header-height: 70px;
$icon-menu-width: 70px;
$sub-menu-width: 200px;

// animation
$animation-speed: 400ms;


